<h2>Artists</h2>
<div class="row"  >
  <table class="table">
    <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>More info</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td><img src="{{user.img}}" class="rounded-circle"></td>
      <td>{{user.name}}</td>
      <td>{{user.birthday}}</td>
      <td><button  type="button" class="btn btn-primary" (click)="open(user)">Show info</button></td>
    </tr>
    </tbody>
  </table>
</div>
